﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myrlea Institute of Technology</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="keywords">
    <meta content="" name="description">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Favicons -->
    <link href="/Content/BizPage/img/favicon.png" rel="icon">
    <link href="/Content/BizPage/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href=https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">


    <!-- Replaced with asp.net bundles   ( Styles.Render("~/Content/css") )

        Libraries CSS Files
    <link href="/Content/BizPage/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/BizPage/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Content/BizPage/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/Content/BizPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Content/BizPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File
    <link href="/Content/BizPage/css/style.css" rel="stylesheet">

    -->


</head>

<body>

    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="/Home/Index" class="scrollto">Myrlea I.T.</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/Home/Index/">Home</a></li>
                    <li><a href="/Home/About">About Us</a></li>
                    <li><a href="/Home/Services">Services</a></li>
                    @*<li><a href="/Home/Portfolio">Portfolio</a></li>
                    <li><a href="/Home/Team">Team</a></li>*@
                    <!--<li class="menu-has-children">
                        <a href="/CallCenter/Login">Support</a>-->
                        @*<ul>
                            <li><a href="#">Mediator Information System</a></li>
                            <li><a href="#">3D Printer with Raspery PI</a></li>
                            <li><a href="#">Sun Tracking System</a></li>
                            <li><a href="#">e-Trading Projects</a></li>
                        </ul>*@
                    <!--</li>-->
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Myrlea I.T.</h3>
                        <p>
                            As Myrlea Institue of Technology , our priority is to develop new technologies and products through R & D studies in fields such as software development and robotics.
                            We are trying to make the world a more livable place by putting forth our innovative soul and working with passion.
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="/Home/Index/#">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="/Home/About/#">About us</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="/Home/Services/#">Services</a></li>
                            @*<li><i class="ion-ios-arrow-right"></i> <a href="/Home/Team/#">Our Team</a></li>*@
                            <li><i class="ion-ios-arrow-right"></i> <a href="/Home/PrivacyPolicy/#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            16940 <br>
                            Mudanya, Bursa <br>
                            Turkey <br>
                            @*<strong>Phone:</strong> +90 224 544 1985<br>*@
                            <strong>Email:</strong>info@myrleatechnology.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Please subscribe our weekly newsletter to stay up to date with the latest information on all important developments related to our company.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Myrle I.T.</strong>. All Rights Reserved
            </div>
            <!--<div class="credits">-->
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
                -->
                <!--Best <a href="/Content/BizPage/https://bootstrapmade.com/">Bootstrap Templates</a> by BootstrapMade
            </div>-->
        </div>
    </footer><!-- #footer -->

    <a href="/Content/BizPage/#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!--
        Replaced with asp.net bundles
        Scripts.Render("~/bundles/jquery")
        Scripts.Render("~/bundles/bootstrap")

        JavaScript Libraries
    <!-- <script src="lib/jquery/jquery-migrate.min.js"></script>

    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>


    <!-- Template Main Javascript File
    <script src="js/main.js"></script>


    <!-- Contact Form JavaScript File
    <script src="contactform/contactform.js"></script>

         -->
    <!--  JavaScript Libraries (General)  -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <!--  JavaScript Libraries (Theme's All Libs)  -->

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)


</body>
</html>
