﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--==========================
     About Us Section
   ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>About Us</h3>
            <p>
                We produce advanced software solutions using AI & Machine Learning for a wide variety of fields to make peoples life easier and to make the world a much better place to live.

            </p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="/Content/BizPage/img/about-mission.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="/Content/BizPage/#">Our Mission</a></h2>
                    <p>
                        To develop advanced technologies using the power of computer science and make the world a more livable place by putting forth our innovative soul and working with passion

                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="/Content/BizPage/img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="/Content/BizPage/#">Our Plan</a></h2>
                    <p>
                        To work efficiently by following international standards,  without compromising professionalism with expert and virtuous teammates.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="/Content/BizPage/img/about-vision.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="/Content/BizPage/#">Our Vision</a></h2>
                    <p>
                        To be an organization that makes life easier for all people, making innovations that provide them a better standard of living without harming the nature and the life.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #about -->