﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--==========================
     Contact Section
   ============================-->
<section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h3>Contact Us</h3>
            <p>
                You can reach us anytime, anywhere in the world:
            </p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Address</h3>
                    <address>
                        Due to the Covid-19 restrictions <br /> we work from home remotely.<br /> Please Contact us by email.
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Phone Number</h3>
                    <p><a href="/Content/BizPage/tel:+155895548855"> Due to the Covid-19 restrictions <br /> we work from home remotely.<br /> Please Contact us by email.</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Email</h3>
                    <p><a href="/Content/BizPage/mailto:info@example.com"> info@myrleatechnology.com</a></p>
                </div>
            </div>

        </div>

        <!--<div class="form">
            <form action="" method="post" role="form" class="contactForm">

                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">-->

                        @*@Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Your Name" } })
                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })*@


                    <!--</div>
                    <div class="form-group col-md-6">-->

                        @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Your E-Mail" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@

                    <!--</div>
                </div>
                <div class="form-group">-->

                    @*@Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Subject" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })*@


                <!--</div>
                <div class="form-group">
                    <p>
                        Due to the Covid-19 restrictions we work from home remotely.Please Contact us by email.
                    </p>

                    
                </div>
                <div class="text-center"  ><button type="submit" disabled>Send Message</button></div>
            </form>
        </div>-->

    </div>
</section><!-- #contact -->


@section Scripts{

    <script src="@Url.Content("~/Scripts/AppScripts/contactform.js")"></script>

}
