﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--==========================
     Intro Section
   ============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="~/Content/BizPage/img/intro-carousel/1.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Myrlea Institute of Technology</h2>
                            <p>
                                <strong>We develop the technology of the future and present it to today's world !</strong><br /><br />
                                We produce advanced software solutions using AI & Machine Learning for a wide variety of fields such as e-Trading Applications, Voice Authentication ,
                                Real Time Object Detection, Autonomus Robots & Vehicles , Indoor Vertical Farming Systems and many more R & D projects.
                            </p>
                            <a href="/Home/Services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/Content/BizPage/img/intro-carousel/2.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>
                                Customer-Focused Technologies
                            </h2>
                            <p>We move your business to digital platforms that we develop using smart technologies to enhance your efficiency and effectiveness.</p>
                            <p>We focus directly on your requirements , your needs , your goals.</p>
                            

                            <a href="/Home/Services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/Content/BizPage/img/intro-carousel/robot.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>
                                Integration Science and I.T. Into the Your Business
                            </h2>
                            <p>
                                We produce Autonomous Robots using the power of AI , Machine Learning & Convolutional Neural Networks.

                            </p>
                            <a href="/Home/Services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                @*<div class="carousel-item">
                    <div class="carousel-background"><img src="/Content/BizPage/img/intro-carousel/solar3.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Renewable Smart Energy Technologies</h2>
                            <p>
                                Solar tracking system, potable solar powered electric vehicle charger, robot controlled solar field automation and more.
                                We produce energy solutions that combine industrial electronics, mechatronics and software components.
                            </p>
                            <a href="/Home/Services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>*@

                <div class="carousel-item">
                    <div class="carousel-background"><img src="/Content/BizPage/img/intro-carousel/5.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Many R & D Projects</h2>
                            <p>
                                We are working on a lot of R & D projects such as Voice Authentication using Natural Language Processing ,
                                Real Time Object Detection using Convolutional Neural Networks, Autonomus Robots & Vehicles using SLAM ALgorithms, Indoor Vertical Farming Systems Automation Systems With Robotics...
                            </p>
                            <a href="/Home/Services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-code"></i>
                    <h4 class="title"><a href="/Content/BizPage/">Software Development</a></h4>
                    <p class="description">

                        We develop custom software solutions focused directly on your requirements using modern software engineering approaches and methods.    
                    </p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="fa fa-cogs"></i>
                    <h4 class="title"><a href="/Content/BizPage/">Robotics</a></h4>
                    <p class="description">We develop R & D projects on autonomous indoor vertical farming robots using advanced AI & ML technologies.</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-mic-outline"></i>
                    <h4 class="title"><a href="/Content/BizPage/">Voice Authentications</a></h4>
                    <p class="description"> We produce Voice Authentication solutions using Natural Langıage Processing Technologies for Call Centers and Public Services.</p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p>
                    We produce advanced software solutions using AI & Machine Learning for a wide variety of fields to make peoples life easier and to make the world a much better place to live. 
                    
                </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="/Content/BizPage/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="/Content/BizPage/#">Our Mission</a></h2>
                        <p>
                            To develop advanced technologies using the power of computer science and make the world a more livable place by putting forth our innovative soul and working with passion

                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="/Content/BizPage/img/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="/Content/BizPage/#">Our Plan</a></h2>
                        <p>
                            To work efficiently by following international standards,  without compromising professionalism with expert and virtuous teammates.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="/Content/BizPage/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="/Content/BizPage/#">Our Vision</a></h2>
                        <p>
                            To be an organization that makes life easier for all people, making innovations that provide them a better standard of living without harming the nature and the life.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Services</h3>
                <p>
                    We produce advanced software solutions using AI & Machine Learning for a wide variety of fields such as e-Trading Applications, Voice Authentication ,
                    Real Time Object Detection, Autonomus Robots & Vehicles , Indoor Vertical Farming Systems and many more R & D projects.
                </p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="/Content/BizPage/">Software Development</a></h4>
                    <p class="description"> We develop well designed , smartly developed and carefully tested reliable custom software solutions focused directly on your requirements using Agile development methods.   </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="/Content/BizPage/">Robotics</a></h4>
                    <p class="description">
                        We develop autonomous indoor vertical farming robots using advanced AI & ML technologies as an R & D project.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title"><a href="/Content/BizPage/">Voice Authentication Systems</a></h4>
                    <p class="description">
                        We produce Voice Recognition And Authentication API's using Natural Language Processing Techologies for Call Centers and Public Services.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title"><a href="/Content/BizPage/">Indoor Farming Automation Systems</a></h4>
                    <p class="description">We produce Indoor Vertical Farming Automation Systems aims to provide Environment Control, Feeding , Production Tracking And Robotic Management. </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="/Content/BizPage/">e-Trading Systems</a></h4>
                    <p class="description">We develop smart e-trading systems which provides data processing using Machine Learning Technologies and creates bussines predictions based on large scale company data.</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title"><a href="/Content/BizPage/">R & D Projects</a></h4>
                    <p class="description">
                        In addition to becoming a company, we are also an institute, so our primary goal is to develop innovative products by carrying out continuous research and development projects.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
      Facts Section
    ============================-->
    <section id="facts" class="wow fadeIn">
        <div class="container">

            <header class="section-header">
                <h3>Facts</h3>
                <p>
                    Here are a few statistics about us and our projects , the numbers and our scale are growing up every month !
                </p>
            </header>

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">217</span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">16</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">2,364</span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">18</span>
                    <p>Hard Workers</p>
                </div>

            </div>

            <div class="facts-img">
                <img src="/Content/BizPage/img/facts-img.png" alt="" class="img-fluid">
            </div>

        </div>
    </section><!-- #facts -->
    <!--==========================
      Portfolio Section
    ============================-->
    <!--<section id="portfolio" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Our Portfolio</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/Content/BizPage/img/portfolio/app2.jpg" class="img-fluid" alt="">
                            <a href="/Content/BizPage/img/portfolio/app2.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4>
                                <a href=/#">
                                    Ballot Box App
                                </a>
                            </h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/Content/BizPage/img/portfolio/web3.jpg" class="img-fluid" alt="">
                            <a href="/Content/BizPage/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#">Mediator Information System</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/Content/BizPage/img/portfolio/app1.jpg" class="img-fluid" alt="">
                            <a href="/Content/BizPage/img/portfolio/app1.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#">Book Store App</a></h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/Content/BizPage/img/portfolio/web2.jpg" class="img-fluid" alt="">
                            <a href="/Content/BizPage/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#">Solar Field Managament </a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/Content/BizPage/img/portfolio/app3.jpg" class="img-fluid" alt="">
                            <a href="/Content/BizPage/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href=#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#">Wireless Smart Home</a></h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="/Content/BizPage/img/portfolio/web1.jpg" class="img-fluid" alt="">
                            <a href="/Content/BizPage/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                            <a href="/Content/BizPage/#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#">e-Trading Platform</a></h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>--><!-- #portfolio -->
    <!--==========================
      Clients Section
    ============================
    <section id="clients" class="wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Our Clients</h3>
            </header>

            <div class="owl-carousel clients-carousel">
                <img src="/Content/BizPage/img/clients/client-1.png" alt="">
                <img src="/Content/BizPage/img/clients/client-2.png" alt="">
                <img src="/Content/BizPage/img/clients/client-3.png" alt="">
                <img src="/Content/BizPage/img/clients/client-4.png" alt="">
                <img src="/Content/BizPage/img/clients/client-5.png" alt="">
                <img src="/Content/BizPage/img/clients/client-6.png" alt="">
                <img src="/Content/BizPage/img/clients/client-7.png" alt="">
                <img src="/Content/BizPage/img/clients/client-8.png" alt="">
            </div>

        </div>
    </section><!-- #clients -->
    -->
    <!--==========================
      Clients Section
    ============================-->
    <!--<section id="testimonials" class="section-bg wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Testimonials</h3>
            </header>

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <img src="/Content/BizPage/img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                        <img src="/Content/BizPage/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <img src="/Content/BizPage/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="/Content/BizPage/img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                        <img src="/Content/BizPage/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <img src="/Content/BizPage/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="/Content/BizPage/img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                        <img src="/Content/BizPage/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <img src="/Content/BizPage/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="/Content/BizPage/img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                        <img src="/Content/BizPage/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        <img src="/Content/BizPage/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="/Content/BizPage/img/testimonial-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                        <img src="/Content/BizPage/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <img src="/Content/BizPage/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                </div>

            </div>

        </div>
    </section>-->
    <!-- #testimonials -->
    <!--==========================
      Team Section
    ============================
    <section id="team">
        <div class="container">
            <div class="section-header wow fadeInUp">
                <h3>Team</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="/Content/BizPage/img/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    <a href="/Content/BizPage/"><i class="fa fa-twitter"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-facebook"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-google-plus"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="/Content/BizPage/img/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                                <div class="social">
                                    <a href="/Content/BizPage/"><i class="fa fa-twitter"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-facebook"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-google-plus"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="/Content/BizPage/img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                                <div class="social">
                                    <a href="/Content/BizPage/"><i class="fa fa-twitter"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-facebook"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-google-plus"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="/Content/BizPage/img/team-4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                                <div class="social">
                                    <a href="/Content/BizPage/"><i class="fa fa-twitter"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-facebook"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-google-plus"></i></a>
                                    <a href="/Content/BizPage/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #team -->


</main>