﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--==========================
     Services Section
   ============================-->
<section id="services">
    <div class="container">

        <header class="section-header wow fadeInUp">
            <h3>Services</h3>
            <p>
                We produce advanced software solutions using AI & Machine Learning for a wide variety of fields such as e-Trading Applications, Voice Authentication ,
                Real Time Object Detection, Autonomus Robots & Vehicles , Indoor Vertical Farming Systems and many more R & D projects.
            </p>
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="/Content/BizPage/">Software Development</a></h4>
                <p class="description"> We develop well designed , smartly developed and carefully tested reliable custom software solutions focused directly on your requirements using Agile development methods.   </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title"><a href="/Content/BizPage/">Robotics</a></h4>
                <p class="description">
                    We develop autonomous indoor vertical farming robots using advanced AI & ML technologies as an R & D project.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                <h4 class="title"><a href="/Content/BizPage/">Voice Authentication Systems</a></h4>
                <p class="description">
                    We produce Voice Recognition And Authentication API's using Natural Language Processing Techologies for Call Centers and Public Services.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="/Content/BizPage/">Indoor Farming Automation Systems</a></h4>
                <p class="description">We produce Indoor Vertical Farming Automation Systems aims to provide Environment Control, Feeding , Production Tracking And Robotic Management. </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                <h4 class="title"><a href="/Content/BizPage/">e-Trading Systems</a></h4>
                <p class="description">We develop smart e-trading systems which provides data processing using Machine Learning Technologies and creates bussines predictions based on large scale company data.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><a href="/Content/BizPage/">R & D Projects</a></h4>
                <p class="description">
                    In addition to becoming a company, we are also an institute, so our primary goal is to develop innovative products by carrying out continuous research and development projects.
                </p>
            </div>

        </div>

    </div>
</section><!-- #services -->
<!-- #services -->
